/QuipperTest/QuipperTest.xcodeproj/xcuserdata/st21073.xcuserdatad/xcschemes/xcschememanagement.plist
/QuipperTest/QuipperTest.xcodeproj/project.xcworkspace/xcuserdata/st21073.xcuserdatad/UserInterfaceState.xcuserstate
